@import "tailwindcss";

@theme inline {
  --color-primary: #2D7DF6;
  --color-primary-hover: #2563EB;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --container-max-width: 1600px;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  background: #ffffff;
  color: #171717;
}
